
  <div class="row">
    <div class="my-5 col-md-5">
    <div class="profile-container p-4  rounded bg-white">
      <div class="profile-header text-center">
        <h3 class="edit fw-bolder"><strong>Edit Password</strong></h3>
      </div>
      <hr />
  
      <div class="row g-3">
        <div class="col-md-12">
          <label class="form-label">Current Password</label>
          <input type="password" class="form-control" placeholder="Enter current password" />
        </div>
        <div class="col-md-6">
          <label class="form-label">New Password</label>
          <input type="password" class="form-control" placeholder="Enter new password" />
        </div>
        <div class="col-md-6">
          <label class="form-label">Confirm New Password</label>
          <input type="password" class="form-control" placeholder="Re-enter new password" />
        </div>
      </div>
  
      <div class="mt-4 d-flex justify-content-between">
        <button class="btn btn-edit  w-50 me-2">
          <i class="fa fa-edit"></i> Update
        </button>
        <button class="btn btn-cancel w-50">
          <i class="fa fa-times"></i> Cancel
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <img class="imgUnDraw"  src="/Imges/undraw_my-password_iyga.png" />
  </div>
  </div>