<div class="container DetailsPage">
  <div class="row m-0 p-0">
    <div class="col-md-5">
      <div class="DivImages">
        <header
          class="ImgCover w-100"
          [ngStyle]="{
            'background-image': 'url(' + imageUrl + ')'
          }"
        ></header>
        <div class="container">
          <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let image of specificProduct.images">
              <ng-template carouselSlide>
                <img
                  [src]="image"
                  class="slidess"
                  (click)="changeBackground(image)"
                  alt="Product Image"
                />
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="AllInfo px-2 py-1">
        <h2 class="text-h3 fs-2 fw-semibold mt-3 headerColorr py-4">
          {{ specificProduct.title | cut : 3 }}
        </h2>
        <div class="categoyry my-2">
          <h4 class="d-inline fw-bold colorr">Category Name:</h4>
          <span class="h5 mx-2">{{ specificProduct.category.name }}</span>
        </div>
        <div class="brand my-2">
          <h4 class="d-inline fw-bold colorr">Brand Name:</h4>
          <span class="h5 mx-2">{{ specificProduct.brand.name }}</span>
        </div>
        <div class="description my-4 w-75">
          <p class="text-secondary">{{ specificProduct.description }}</p>
        </div>
        <div class="price my-2">
          <h4 class="d-inline fw-bold colorr">Price</h4>
        </div>
        <h4 class="h3 headerColorr px-1">
          {{ specificProduct.price | currency : "USD" : "symbol" : "1.0" }}
        </h4>
        <!-- <h1>{{specificProduct.quantity}}</h1>  -->
        <div class="PriceAndStar pt-1">
          <div class="star">
            @for (num of [1,2,3,4,5].slice(0,specificProduct.ratingsAverage);
            track $index) {

            <span> <i class="fas fa-star rating-color"></i></span>}
            @if(specificProduct.ratingsAverage %1 !==0){
            <i class="fa-solid fa-star-half-stroke rating-color star"></i> }
          </div>
        </div>
      </div>
      <div class="bbttnn my-4">
        <button class="AddToCart mx-2" (click)="addToCart()">
          Add to Cart
        </button>
        <button class="ShowCart mx-3">Show Cart</button>
      </div>
    </div>
  </div>
</div>
