// .Divemail{
  
// }
// .DivPass{

// }
input{
    padding:10px;

}
.forget{
    color: var(--main-color) !important;
}

  .center{
    display: flex ;
    justify-content: center ;
    align-items: center ;
  }
  .colorr{
    color: rgb(10, 173, 10) !important;
}
.active{
    &:hover{
          color: rgb(10, 173, 10) !important;
    cursor: pointer;
    }
  
}

  
  .OrderButton {
  
         margin-top: 8px !important;
       border-radius: 5px;
       border: none; 
       color: white;
     
      padding: 10px 50px;
      font-size: 16px; 
      cursor: pointer;
      background-color: var(--main-color) !important;
   &:hover{
     color: rgba(255, 255, 255,.8);
    }
  }
  .center2{
    position: relative;
  }
 .cr{
    position: absolute;
    right: 10px; 
    bottom: 0;
    // margin-left: auto; 
    margin-top: 10px;
 }