.AvatarImg{
    background-color: var(--main-color);
    border-radius: 50%;
}
.card-header{
    background-color:#77B254;
    color: white;
}
.btn{
    background-color: var(--main-color);
    color: white;
}
.card{
    box-shadow: var(--shadow);
}